@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Luckiest+Guy&family=Pacifico&family=Poppins:wght@200;300;400&family=Supermercado+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
a{
    text-decoration: none;
}
section{
    background: rgb(14, 13, 13);
    overflow: hidden;
    height: 100vh;
    width: 100%;
}
nav{
    background:rgb(14, 13, 13);
    height: 50px;
    width: 100%;
    z-index: 1;
   
}
.nav-menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 50%;
    margin-left: 452px;
}

.nav-menu ul li{
    margin-left: 10px;
    margin-right: 0px;
    color: white;
    font-family: "Poppins";
    font-size: 13px;
    font-weight: bold;
}
.nav-menu ul li:hover{
    cursor: pointer;
    color:white;
    border-radius: 3px;
    border: 1px solid white;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
}
.logo{
    width: 50%;
}
.logo h4{
    margin-left: 28px;
    color: white;
    font-family: "Pacifico";
    font-size: 24px;
}

.home{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.home button{
    margin: 20px;
    background: none;
    color: white;
    border-color: white;
    border-radius: 4px;
    width: 70PX;
    height: 30PX;
}
.home button:hover{
    color: rgb(255, 0, 98);
}
    



.head{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98px;

}
.head h2{
    color: white;
    font-family: "Fredoka";
    font-weight: bold;
    font-size: 33px;
    margin-top: 37px;
}
.head {
    width: 100%;
    display: flex;
    justify-content: center;
}
.content{
    color: white;
    width: 40%;
    height: 50%;
    margin-bottom: 121px;
}
.content h3{
    font-size: 17px;
}
.about-ct{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content p span{
    font-weight: bold;
    color: rgb(212, 212, 212);
}
.content p{
    font-weight: 100;
}
.line{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.line div{
    background: white;
    width: 123px;
    height: 1px;
}
.icon{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 18px;
}
.icon i{
    font-size: 22px;
    color: white;
    margin-left: 9px;
    margin-right: 9px;
}
.icon i:hover{
    font-size:30px;