@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Luckiest+Guy&family=Pacifico&family=Poppins:wght@200;300;400&family=Supermercado+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 100vh;
    background: rgb(14, 13, 13) ;
    overflow: hidden;
   
}
nav{
    background:rgb(14, 13, 13);
    height: 50px;
    width: 100%;
    z-index: 1;
   
}
.nav-menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 50%;
    margin-left: 452px;
}

.nav-menu ul li{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-family: "Poppins";
    font-size: 13px;
    font-weight: bold;
}
.nav-menu ul li:hover{
    cursor: pointer;
    color:white;
    border-radius: 3px;
    border: 1px solid white;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
}
.logo{
    width: 50%;
}
.logo h4{
    margin-left: 28px;
    color: white;
    font-family: "Pacifico";
    font-size: 24px;
}

.all{
    display: flex;
}
.home{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.home button{
    margin: 20px;
    background: none;
    color: white;
    border-color: white;
    border-radius: 4px;
    width: 70PX;
    height: 30PX;
}
.home button:hover{
    color: rgb(255, 0, 98);
}
.box{
    border: 1px solid rgb(0,100, 0);
    border-radius: 5px;
   
}
.head {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.head h2{
   
    font-family: "Fredoka";
    font-weight: bold;
    color: white;
    font-size: 32px;
}
.group{
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    margin: 38px;
}

.first-part{
    width: 100%;
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    line-height: 38px;
}  
.content-ct div{
    margin-top: 20px;
    line-height: 20px;
} 
  .ct-icon i{
   
      color:rgb(0, 100, 0);
      font-size: 20px;
      margin-top: 10px;
      margin-right: 10px;
   
  }
  .text p{
      font-size: 18px;
      color: white;
  }
  .text h6{
      font-weight: bold;
      color:rgb(0, 100, 0);
      font-size: 20px;
  }
  .contact-head h4{
       color: rgb(25, 182, 255);
       font-weight: bolder;
  }

  .second-part{
      width: 50%;
      height: 82vh;
      display: flex;
      justify-content: center;
      align-items: center;
     
  }
form{
      display: flex;
      flex-direction: column;
      
  }
  .form {
      width: 85%;
  }
  .form-items{
    height: 48px;
    background: none;
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-color:white ;
    color:white;
    box-shadow: none;
    font-weight: bold;
    font-family: "Poppins";
    font-size: 16px;
}
#message{
    height: 139px;
    
}
#submit{
    border-color:rgb(255, 0, 98) ;
}